<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Service</title>
    <link rel="stylesheet" href="../static/css/terms_condition.css">
</head>

<body>

    <section id="terms-of-service">
        <div class="card">
            <h1 class="primary-heading">Order Cancellation, Refund, and Return Policy</h1>
            <p class="paragraph">
                <span class="bold">Order Cancellation, Refund, and Return Policy</span><br>
                1) At Vittzios, we understand that circumstances may arise that require you to cancel your order. We
                    have designed a straightforward order cancellation process to ensure your convenience. Please refer
                    to the following guidelines to cancel your order for Health Gummies:


                <br><br><br>

                <span class="bold">Cancellation Process:</span><br>
                2) You can initiate the order cancellation process by following these steps
                <br><br><br>

                <span class="bold"> Online Platform:</span><br>
                3) Visit our official website and navigate to the "My Orders" page within your account. Here, you will
find a list of your orders, and against each applicable order, a cancellation button will be displayed.


                <br><br><br>
                <span class="bold"> Cancellation Procedure:</span><br>
                5)Locate the order you wish to cancel and click on the provided cancellation button.
                For orders that have not yet been delivered, the cancellation process will be seamless, and no further
                action is required from your end.

                <br><br><br>

                <span class="bold"> Refund Process:</span><br>
                6) For prepaid orders, the refund process varies based on the status of your order:<br>
                If the order is in the "Confirmed" status, you can opt for either of the following refund methods:<br>
                a. Refund to your original payment source, which might take 5-7 days to reflect.<br><br>
                For orders that have not yet been delivered (statuses prior to delivery), the refund will be processed
                directly to your original payment source.<br><br>
                In the event that your order has been shipped (identified by statuses such as 'Shipped' or 'In-transit'),
                cancelling the order will trigger a notification to our logistics partner. The return process will be
                initiated within 24 hours of cancellation. Refunds will be initiated only upon the confirmation of the
                return process.<br><br>
                We appreciate your understanding of our order cancellation policy for Health Gummies. Should you
                have any questions or require assistance, our customer support team is available to guide you
                through the process. Thank you for choosing Vittzios for your health and wellness needs.
            </p>
        </div>
    </section>
    <footer>
        <p class="footer-heading">© Copyright 2023-24 Vittzios. All rights reserved.</p>
    </footer>
</body>

</html>