<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Service</title>
    <link rel="stylesheet" href="../static/css/terms_condition.css">
</head>
<body>
    <header class="main-header dark-theme">

        <ul class="header-options">
    
             <li class="title"> Terms_&_Conditions </li>
        </ul>
    
    </header>

    <!-- <header class="header-mobile dark-theme">
            <h3 class="title-mobile"> beCoditive API </h3>
    </header> -->
    
    <section id="terms-of-service">
        <div class="card">
            <h1 class="primary-heading">Terms of Service</h1>
            <p class="paragraph">
                1) This website ("Site") and all its contents are owned and operated by Wholesome Nutritech  (hereinafter referred to as “Company”, “We” “Our” or “Us” as the case may be).
                <br><br><br>
                ACCEPTANCE FOR USE OF THIS WEBSITE <br>
                2)By accessing and using this Site, you accept and agree to these Terms & Conditions (“Terms”) and to any additional terms, amendments and /or supplementary rules that may be posted on this Site, without any limitation or qualification. By impliedly or expressly accepting these Terms, you also accept and agree to be bound by Company’s Policies (including but not limited to Privacy Policy) as amended from time to time.
                <br><br><br>
                
                CONTENT AVAILABLE ON THE SITE
                <br><br><br>
                3)This Website of the Company has been developed to provide general public information which is subject to change without notice. The documents and information displayed in this site are for reference purposes only.
                We try to ensure that website availability is uninterrupted and that transmissions will be error-free. However, we cannot, due to the nature of the internet, guarantee that your access will not be suspended or restricted from time to time including to allow for repairs, maintenance or the introduction of new services. We of course try to limit the frequency and duration of any suspension or restriction.
                <br><br><br>
                The content on the site is updated on a continual basis. While Company attempts to keep its web information accurate and timely, no representations, warranties or guarantees whatsoever are made as to the accuracy, adequacy, reliability, completeness, suitability or applicability of the information, text, graphics, hyperlinks, and other items contained on this server or any other server. The Company, its directors, officers, employees, its affiliated entities or agents shall not be liable for any loss, damage or expense arising out of use /access of this site or any site linked to it including without limitation of any consequential loss, indirect, incidental or damages of whatsoever nature.
                <br><br><br>
                Should any viewer of this Website respond with information including feedback data such as questions, comments, suggestions, or the like regarding the content of any material on this Website, such information shall be deemed to be non-confidential and the Company shall deal with the same in the manner it deems fit.
                <br><br><br>

                INTELLECTUAL PROPERTY
                <br><br><br>
                4) 4.1. The brand names and logos indicated on this Website and all related emails are owned by Us or by our franchisors/licensors in the territories in which we operate.
                <br><br><br>
                4.2. You are permitted to use the content posted on the Website only as expressly authorised by us. You may not extract, reproduce, distribute, republish, download, display, post, transmit, or copy in any form or by any means and/or utilise the whole or any part of the Website or its content without our express written consent.
                <br><br><br>
                4.3. All trademarks and other intellectual property rights in all material, content or software comprised in the Website, including emails or any other form of communication with you is protected by copyright right laws and shall remain at all times vested in us or, where relevant, our franchisors/licensors.
                <br><br><br>
                4.4. We may provide the functionality to allow customers to provide Product ratings and reviews (“User Content”) in relation to the Products. If so, customers are solely responsible for such User Content, and you warrant that any User Content you post is accurate and that you are the sole author. You hereby assign to us all intellectual property rights in any User Content you post on the Website. We reserve the right to remove User Content which in our sole opinion is deemed to be incorrect, offensive, illegal or otherwise unacceptable.
                <br><br><br>

                RESTRICTIONS ON USE OF THE SITE
                <br><br><br>
                5) Authorization to access and use is subject to the following restrictions:
                <br><br><br>
                You may use this Site for your own personal, non-commercial information, reference purposes only.
                <br><br><br>
                You will not reproduce, duplicate, copy, reuse, sell, resell, retransmit, adapt, publish, frame, post, upload, modify, broadcast or distribute any Site content in any way, including for any public or commercial purpose whatsoever, without our prior written permission.
                <br><br><br>
                You are prohibited from transmitting or sending any material to the Site that is unlawful, harmful (including any virus), threatening, libelous, defamatory, obscene, scandalous, deceptive, fraudulent, tortious, inflammatory, pornographic, indecent or profane or any material that could constitute or encourage any such conduct that would be considered violation of any law.
                <br><br><br>
                You are prohibited from posting any unsolicited or unauthorized promotional materials, advertising or any other form of solicitation including any material non-public information about a company without proper authorization to do so.
                You will not use or impersonate any person or entity, third parties’ likeness, names, and/or properties, falsely indicate or misrepresent your affiliation with any person or entity.
                <br><br><br>
                You will not do any act which is in violation of Information Technology Act, 2000 or any Rules and regulations framed by authorized entity mentioned in the said Act. You hereby confirm that in case of any “Cyber Security incident” as defined in The Information Technology (The Indian Computer Emergency Response Team and Manner of Performing Functions and Duties) Rules, 2013 you shall immediately inform Grievance Officer of the Company.
                <br><br><br>
                You shall not use any "deep-link", "page-scrape", "robot", "spider" or other automatic devices, program, algorithm or methodology, or any similar or 
                <br><br><br>
                equivalent manual process, to access, acquire, copy or monitor any portion of the Website or any Content, or in any way reproduce or circumvent the navigational structure or presentation of the Website or any Content, to obtain or attempt to obtain any materials, documents or information through any means not purposely made available through the Website. We reserve Our right to bar any such activity.
                You shall not attempt to gain unauthorized access to any portion or feature of the Website, or any other systems or networks connected to the Website or to any server, computer, network, or to any of the services offered on or through the Website, by hacking, password "mining" or any other illegitimate means.
                <br><br><br>
                Company may review, edit, or delete materials you or others send to this Site, but are under no obligation to do so and assume no responsibility or liability arising from the material. Company may cancel or terminate your access or use of the Site of any registration/s or account/s on this Site at any time, without notice or liability, for any reason, including if technical problems, irregularities, misuse or breach occurs.
                <br><br><br>

                MATERIAL /CONTENT YOU SHARE WITH US
                <br><br><br>
                6) Any material /content shared and sent by you via this website or otherwise to the Company are on a non-confidential basis, and Company is under no obligation to refrain from reproducing, publishing or otherwise using them in any way or for any purpose. We shall be free to use the content of any such material / communication, including any ideas, inventions, concepts, techniques or know-how disclosed therein, for any purpose including developing manufacturing and/or marketing goods and services.
                <br><br><br>
                You agree to not assert any ownership right of any kind in the Material /Content (including, but not limited to copyright, trademark, unfair competition, moral rights, or implied contract) and to waive the right to receive any financial or other consideration in connection with such Material / content including, but not limited to, your acknowledgment. You shall be responsible for the Material /Content and information contained in any Material /Content sent by you to this Website or otherwise to us, including its truthfulness and accuracy.
                <br><br><br>

                ACCESS TO INFORMATION BY RELEVANT PERSONS
                <br><br><br>
                All personal information must be accurate, complete, and relevant for the business purposes of collection of such information, and necessary only to facilitate those purposes. Your access to and use of this web-portal and its contents (the "Portal") is subject to the terms and conditions and Privacy Policy, and all applicable laws. By accessing and using this Portal, you (the "User" or "you") accept and agree to these without any limitation or qualification.

                DISCLAIMER
                <br><br><br>
                While we will use reasonable endeavours to verify the accuracy of any information we place on this Website, we make no warranties, whether express or implied in relation to its accuracy or in relation to any transaction that may be conducted on or through this Website or with customer services (including but not limited to, implied warranties of non-infringement, compatibility, security, accuracy, conditions of completeness, or any implied warranty arising from course of dealing or usage or trade).
                <br><br><br>
                Your use of this Website and/or Products is at your own risk.
                <br><br><br>
                Although this Website follows high levels of Information Security Standards, we make no warranty that this Website will meet your requirements or will be uninterrupted or error/defect free the site or the server that makes it available are free of viruses or bugs or represents the full functionality, accuracy or reliability of the Website. We will not be responsible or liable to you for any loss of content or material uploaded or transmitted through the Websit
                <br><br><br>
                To the fullest extent permissible under applicable law, we disclaim any and all warranties of any kind, whether express or implied, in relation to the Products. We will not be liable, in contract, tort (including, without limitation, negligence), pre-contract or other representations (other than fraudulent or negligent misrepresentations) or otherwise out of or in connection with these Terms & Conditions for
                <br><br><br>
                any economic losses (including without limitation loss of revenues, profits, contracts, business or anticipated savings); or
                any loss of goodwill or reputation; or
                any special or indirect punitive, incidental, special, consequential damages or any damages whatsoever including without limitation, damages in any way connected with the use or performance of the Website suffered or incurred by that party arising out of or in connection with the provisions of any matter under these Terms & Conditions.
                <br><br><br>
                Any material/ contents downloaded or otherwise obtained through the use of the Site is done at your own discretion and risk. The Site is provided to you “AS IS” without any express warranties or representations of any kind. The Company, its affiliated entities and their directors, officers, employees, agents, providers, representatives and licensors disclaim all statutory and implied representations, warranties with respect to this Site and shall not be responsible or liable for any damages, claims, delays, inaccuracies, errors or omissions arising out of your use of the Site or with respect to the material contained on the Site due to
                <br><br><br>
                (a) Statement, acts, errors or omissions in the Site
                <br><br><br>
                (b) availability of Site content on timely basis or uninterrupted and secured access,
                <br><br><br>
                (c) content infringing any third party’s rights information and materials
                <br><br><br>
                (d) Any viruses or other contamination of your system , nor for any damages, 
                <br><br><br>
                (e) linking to any other site or its nature or contents 
                <br><br><br>
                (f) that defects or errors will be corrected or (g) any other matter regarding this Site and your use of it.
                <br><br><br>
                Nothing on this Website constitutes an invitation or offer to invest or deal in the securities of the Company. In particular, actual results and developments may be materially different from any forecast, opinion or expectation expressed on this Website as also from the historical performance on account of factors such as changes in government regulations, tax regimes, economic developments within India and the countries within which the Company conducts its business, exchange rate and interest rate movements, impact of competing products and their pricing, product demand and supply constraints. The past performance of the price of securities must not be relied on as a guide to their future performance.
                <br><br><br>

                INDEMNIFICATION
                <br><br><br>
                By accessing or using this Site, you agree to defend, indemnify and hold the Company and its Affiliated Entities and their respective directors, officers, employees, agents, providers, representatives and licensors harmless against all claims, losses, costs and expenses including without limitation lawyer’s fees and cost arising out of any of the following
                <br><br><br>
                Any use of or activities in connection with the Site by yourself or anyone using the Site through your Internet protocol or account or network which are wrongful conduct and /or negligent.
                <br><br><br>
                Any claims for infringement of intellectual property rights, defamation, libel relating to any Material /Content that you make available /send to the Site, that infringes or violates intellectual property rights.
                Any breach or violation of these Terms of Use by you or through any account you create in connection with the Site.
                <br><br><br>
                Any other matter regarding this Site and your use of it.
                <br><br><br>

                GOVERNING LAW AND JURISDICTION
                <br><br><br>
                This website (excluding third party linked sites) is controlled by the Company from its offices located in New Delhi, India. All matters relating to the Site, access to, or use of shall be governed by the laws of India applicable therein without reference to conflict. You agree and hereby submit to the non-exclusive jurisdiction and venue of the courts at New Delhi with respect to such matters. The Company makes no representation that materials on this Website are appropriate or available for use in other locations, and accessing them from territories where their contents are illegal is prohibited. Those who choose to access this site from other locations do so, on their own initiative and are responsible for compliance with local laws.
                <br><br><br>

                SEVERABILITY
                <br><br><br>
                Each term and condition listed herein is severable. If any term or condition hereof is illegal, invalid or inapplicable such illegality, invalidity or inapplicability shall not affect the validity of the remaining terms and conditions.
                <br><br><br>

                MODIFICATIONS
                <br><br><br>
                The Company reserves the right, as and when it considers appropriate and at its sole discretion, to alter, change, make corrections, modify, add or remove any portion of these Terms at any time and without notice.
                <br><br><br>
              </p>
        </div>
    </section>
    <footer>
        <p class="footer-heading">© Copyright 2020-2021 beCoditive. All rights reserved.</p>
    </footer>
</body>
</html>