<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
 
<body>
    <h2> username - {{context.username}}'s data</h2>
    <form method="post">
 
        <p>
            <label><h4>building : {{context.building}}</h4></label>
        </p>
 
        <p>
            <label><h4>street :  {{context.street}}</label>
        </p>
        <p>
            <label><h4>area : {{context.area}}</label>
        </p>
        <p>
            <label><h4>pincode : {{context.pincode}}</label>
        </p>
        <p>
            <label><h4>city :{{context.city}}</label>
        </p>
        <p>
            <label><h4>phone number :{{context.phone_number}}</label>
        </p>
        <p>
            <label><h4>email :{{context.email}}</label>
        </p>
        
        
    </form>
</body>
</html>

{% comment %} <form>
<link rel="stylesheet"  href="../static/css/user_data.css" media="screen" />
<div class="row mt-3 mx-3" style="margin-top:25px ;">
    <div class="col-md-3">
      <div style="margin-top: 50px; margin-left: 10px;" class="text-center">
        <i id="animationDemo" data-mdb-animation="slide-right" data-mdb-toggle="animation"
          data-mdb-animation-reset="true" data-mdb-animation-start="onScroll"
          data-mdb-animation-on-scroll="repeat" class="fas fa-3x fa-shipping-fast text-white"></i>
        <h3 class="mt-3 text-white">Welcome</h3>
        <p class="white-text">You are 30 seconds away from compleating your order!</p>
      </div>

  
    </div>
    <div class="col-md-9 justify-content-center">
      <div class="card card-custom pb-4">
        <div class="card-body mt-0 mx-5">
          <div class="text-center mb-3 pb-2 mt-3">
            <h4 style="color: #495057 ;">Delivery Details</h4>
          </div>
  
          <form class="mb-0" method="post">
  
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form9Example1" name="building" class="form-control input-custom" />
                  <label class="form-label" for="form9Example1">building</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form9Example2" name="street" class="form-control input-custom" />
                  <label class="form-label" for="form9Example2">street</label>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form9Example3"  name="area" class="form-control input-custom" />
                  <label class="form-label" for="form9Example3">area</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form9Example4" name="pincode" class="form-control input-custom" />
                  <label class="form-label" for="form9Example4">pincode</label>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form9Example6"  name="city" class="form-control input-custom" />
                  <label class="form-label" for="form9Example6">city</label>
                </div>
              </div>
              <div class="col">
                {% comment %} <div class="form-outline">
                  <input type="email" id="typeEmail" class="form-control input-custom" />
                  <label class="form-label" for="typeEmail">Email</label>
                </div> {% endcomment %}
              {% comment %} </div>
            </div>
  
            <div class="float-end ">
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-rounded"
                style="background-color: #0062CC ;">change</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </div>
</form> {% endcomment %}