.ProductItem__LabelList {
  position: absolute;
  left: 10px;
  top: 6px;
  text-align: left;
  pointer-events: none;
}

.ProductItem__LabelList {
  top: calc(50% - 18vh);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.ProductItem__LabelList .ProductItem__Label {
  width: auto;
  display: inline-block;
  background: #f3f3f3;
  line-height: 38px;
  color: black;
  font-size: 11px;
  font-family: "NormalidadExtended-Medium", serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  max-width: 100%;
  transform: rotate(-20deg);
  white-space: nowrap;
}

.u-section-1 {
  background-image: none;
}

/* .u-section-1 .u-sheet-1 {
  min-height: 702px;
} */

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: -15px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 573px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 21px;
}

.u-section-1 .u-image-1 {
  height: 60%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 0px 175px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.9375rem;
  font-weight: 700;
  border-style: solid;
  margin: -40px 9px 0 162px;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 21px;
}

.u-section-1 .u-image-2 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 20px 175px 0 20px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-4 {
  font-size: 0.9375rem;
  font-weight: 700;
  border-style: solid;
  margin: -40px 9px 0 162px;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 21px;
}

.u-section-1 .u-image-3 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 20px 175px 0 20px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-6 {
  font-size: 0.9375rem;
  font-weight: 700;
  border-style: solid;
  margin: -40px 9px 0 162px;
  padding: 6px 31px 6px 30px;
}

.u-section-1-1 {
  height: 620px;
  margin: -128px 0px 0px 0px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("/static/assets/images/Artboard 24.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-text-1 {
  margin: 10vh auto auto auto;
}

.u-section-1-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 18px auto 0 auto;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 18px auto 60px auto;
}

.u-section-1-2 {
  height: 620px;
  margin: -128px 0px 0px 0px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("/static/assets/images/Artboard 24.png");
  background-position: 50% 50%;
}

.u-section-1-3 {
  height: 620px;
  margin: -128px 0px 0px 0px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("/static/assets/images/Artboard 24.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  /* .u-section-1 .u-sheet-1 {
    height: 336px;
  } */

  .u-section-1-1{
    height: 620px;
    margin: -128px 0px 0px 0px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 548px;
  }

  .u-section-1 .u-image-1 {
    height: 50%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  /* .u-section-1 .u-sheet-1 {
    height: 338px;
  } */
  .u-section-1-1{
    height: 500px;
    margin: -128px 0px 0px 0px;
  }

  .ProductItem__LabelList {
  top: calc(50% - 30vh);
  left: 29%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 13px;
    margin-bottom: 60px;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 878px;
  }

  .u-section-1 .u-image-1 {
    height: 50%;
    /* width: 50%; */
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 338px;
    width: 295px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 338px;
    width: 295px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  /* .u-section-1 .u-sheet-1 {
    min-height: 1301px;
  } */

  .u-section-1-1{
    height: 435px;
    margin: -128px 0px 0px 0px;
  }

  .ProductItem__LabelList {
  top: calc(50% - 40vh);
  left: 49%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

  .ProductItem__LabelList .ProductItem__Label {
    min-width: 100px;
    line-height: 26px;
    font-size: 8px;
    letter-spacing: 0.73px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -26px;
    margin-bottom: 56px;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1206px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  /* .u-section-1 .u-sheet-1 {
    min-height: 2200px;
  } */

  .u-section-1-1{
    height: 306px;
    margin: -73px 0px 0px 0px;
  }

  .ProductItem__LabelList {
  top: calc(50% - 19vh);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

  .u-section-1 .u-list-1 {
    margin-bottom: 0;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 50%;
    width: 50%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 433px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 433px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 702px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: -15px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 573px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 21px;
}

.u-section-2 .u-image-1 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 20px 175px 0 20px;
  padding: 8px 33px;
}

.u-section-2 .u-btn-2 {
  font-size: 0.9375rem;
  font-weight: 700;
  border-style: solid;
  margin: -40px 9px 0 162px;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 21px;
}

.u-section-2 .u-image-2 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 20px 175px 0 20px;
  padding: 8px 33px;
}

.u-section-2 .u-btn-4 {
  font-size: 0.9375rem;
  font-weight: 700;
  border-style: solid;
  margin: -40px 9px 0 162px;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 21px;
}

.u-section-2 .u-image-3 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 20px 175px 0 20px;
  padding: 8px 33px;
}

.u-section-2 .u-btn-6 {
  font-size: 0.9375rem;
  font-weight: 700;
  border-style: solid;
  margin: -40px 9px 0 162px;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
    .u-section-1-2{
    height: 620px;
    margin: -128px 0px 0px 0px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 509px;
  }

  .u-section-2 .u-image-1 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {

  .u-section-1-2{
    height: 500px;
    margin: -128px 0px 0px 0px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -11px;
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1212px;
  }

  .u-section-2 .u-image-1 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-6 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {

  .u-section-1-2{
    height: 435px;
    margin: -128px 0px 0px 0px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1300px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: -26px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {

  .u-section-1-2{
    height: 306px;
    margin: -73px 0px 0px 0px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 2200px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -20px;
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1882px;
  }

  .u-section-2 .u-image-1 {
    height: 433px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 433px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 433px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 336px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: -15px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 573px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 21px;
}

.u-section-3 .u-image-1 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 20px 175px 0 20px;
  padding: 8px 33px;
}

.u-section-3 .u-btn-2 {
  font-size: 0.9375rem;
  font-weight: 700;
  border-style: solid;
  margin: -40px 9px 0 162px;
  padding: 6px 31px 6px 30px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 21px;
}

.u-section-3 .u-image-2 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 20px 175px 0 20px;
  padding: 8px 33px;
}

.u-section-3 .u-btn-4 {
  font-size: 0.9375rem;
  font-weight: 700;
  border-style: solid;
  margin: -40px 9px 0 162px;
  padding: 6px 31px 6px 30px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 21px;
}

.u-section-3 .u-image-3 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-5 {
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 20px 175px 0 20px;
  padding: 8px 33px;
}

.u-section-3 .u-btn-6 {
  font-size: 0.9375rem;
  font-weight: 700;
  border-style: solid;
  margin: -40px 9px 0 162px;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {

  .u-section-1-3{
    height: 620px;
    margin: -128px 0px 0px 0px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 335px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin: -5px auto 0 -17px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 548px;
  }

  .u-section-3 .u-image-1 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {

  .u-section-1-3{
    height: 500px;
    margin: -128px 0px 0px 0px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-3 .u-text-1 {
    margin-left: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1212px;
  }

  .u-section-3 .u-image-1 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {

  .u-section-1-3{
    height: 435px;
    margin: -128px 0px 0px 0px;
  }
  .u-section-3 .u-sheet-1 {
    min-height: 1300px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 3px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -26px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {

  .u-section-1-3{
    height: 306px;
    margin: -73px 0px 0px 0px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 2200px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 433px;
    width: 320px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 433px;
    width: 320px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 433px;
    width: 320px;
    margin-right: 0;
  }
}