{% extends 'Base.html' %} {% load static %} {% block title %} VitaminGummies |
Vittzios {% endblock title %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/CategoryDetails.css' %}"
  media="screen"
/>
{% endblock head %} {% block body %}
<body class="u-body u-xl-mode" data-lang="en">
  <section class="u-clearfix u-section-1" id="sec-f178">
    <img
      class="u-expanded-width u-image u-image-default u-image-1"
      src="{% static 'assets/images/111eb1743238890887eb4b26caacd03f5a0e44a75f19a21514711a42273046cbf1b9411f3204d3421269465547a679946c9610b287934a090e6896_1280.jpg' %}"
      alt=""
      data-image-width="1280"
      data-image-height="870"
    />
    <!-- <img
      class="u-expanded-width u-image u-image-default u-image-2"
      src="{% static 'assets/images/04556b349cc49e353255a1f3ad2ee9302d8e3e6e836cf66d0d73c3a82ebcece85c670cae77242361662557d4fb4d18c0caf880149470ddf680e1ae_1280.jpg' %}"
      alt=""
      data-image-width="1280"
      data-image-height="781"
    /> -->
  </section>
  
  <section class="u-clearfix u-section-2" id="sec-8106">
    <div class="u-clearfix u-sheet u-sheet-1">
      <!--products--><!--products_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/products_options_json-->
      <div class="u-expanded-width u-products u-products-1">
        
        <div class="u-repeater u-repeater-1">
          {% for i in vg %}
          <!--product_item-->
          <div
            class="u-align-center u-container-style u-products-item u-repeater-item u-white u-repeater-item-1"
          >
            <div
              class="u-container-layout u-similar-container u-valign-top u-container-layout-1"
            >
              <!--product_image-->
              <img
                alt=""
                class="u-expanded-width u-image u-image-default u-product-control u-image-1"
                src="/{{i.picture}}"
                /><!--/product_image--><!--product_title-->
              <h4 class="u-product-control u-text u-text-1">
                <a class="u-product-title-link" href="#"
                  ><!--product_title_content-->{{i.name}}<!--/product_title_content--></a
                >
              </h4>
              <!--/product_title--><!--product_price-->
            <div class="u-product-control u-product-price u-product-price-1">
                <div class="u-price-wrapper u-spacing-10">
                  <!--product_old_price-->
                  <div class="u-hide-price u-old-price">
                    <!--product_old_price_content-->${{i.price}}<!--/product_old_price_content-->
                  </div>
                  <!--/product_old_price--><!--product_regular_price-->
                  <div
                    class="u-price u-text-palette-2-base"
                    style="font-size: 1.25rem; font-weight: 700"
                  >
                    <!--product_regular_price_content-->${{i.price}}<!--/product_regular_price_content-->
                  </div>
                  <!--/product_regular_price-->
                </div>
              </div>
              <!--/product_price--><!--product_button--><!--options_json--><!--{"clickType":"add-to-cart","content":""}--><!--/options_json-->
              <form method="post" action="/add_to_cart/">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ i.id }}">
              <button
                class="u-border-2 u-border-grey-25 u-btn u-btn-rectangle u-button-style u-none u-product-control u-text-body-color u-btn-1"
                ><!--product_button_content-->Add to Cart<!--/product_button_content--></button></form><!--/product_button-->
            </div>
          </div>
          {% endfor %}
          <!--/product_item-->
        </div>
        
      </div>
      <!--/products-->
    </div>
  </section>
  
</body>

{% endblock body %}
